@import "../utils";

.select_wrap {
  width: 90px;
  position: relative;
  user-select: none;
}

.select_wrap .default_option {
  background: #3c4058;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.select_wrap .default_option li {
  padding: 16px 20px;
}

.select_wrap .default_option:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 18px;
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}

.select_wrap .select_ul {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  background: #3c4058;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: none;
}

.select_wrap .select_ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.select_wrap .select_ul li:hover {
  background: #041a3a;
}

.select_wrap .option {
  @include flex-center;
}

.select_wrap.active .select_ul {
  @include flex-center;
  flex-direction: column;
  padding: 10px 0;
  z-index: 100;
}

.select_wrap.active .default_option:before {
  top: 25px;
  transform: rotate(-225deg);
}
