body,
h4,
h2,
h3,
p,
input,
a,
ul {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  list-style: none; }

button {
  outline: none;
  border: none; }

.footer {
  width: 100%;
  background: #2A66F9; }
  @media (max-width: 450px) {
    .footer {
      background: #2B2F4A; }
    .footer .container {
      padding: 0; } }
  .footer__wrap {
    width: 100%;
    padding: 30px 0; }
  .footer__top {
    display: grid;
    grid-template-areas: "main contact-form" "social spons";
    grid-template-columns: repeat(2, 1fr);
    width: 100%; }
    @media (max-width: 800px) {
      .footer__top {
        grid-template-columns: 1fr;
        grid-template-areas: "main" "contact-form" "social" "spons"; } }
  .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 40px; }
  .footer__left .logo {
    display: block; }
    @media (max-width: 450px) {
      .footer__left .logo {
        display: none; } }
  .footer__left .logo img {
    max-width: 204px; }
  .footer__right, .footer__spons {
    max-width: 365px;
    width: 100%;
    justify-self: end; }
    @media (max-width: 800px) {
      .footer__right, .footer__spons {
        max-width: 100%;
        justify-self: start; } }
  .footer__main {
    grid-area: main; }
    @media (max-width: 450px) {
      .footer__main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .footer__main .footer__main__items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 20px 0 50px; }
  @media (max-width: 450px) {
    .footer__main .footer__main__items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 0 30px; } }
  .footer__main .footer__main__item {
    margin-right: 26px;
    min-width: 170px; }
  .footer__main .footer__main__item:last-child {
    max-width: 149px;
    margin-right: 0; }
    @media (max-width: 450px) {
      .footer__main .footer__main__item:last-child {
        margin-top: 24px;
        max-width: 200px; } }
  .footer__main .footer__main__item .title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #C7D7FF;
    display: block;
    margin-bottom: 19px; }
    @media (max-width: 450px) {
      .footer__main .footer__main__item .title {
        font-size: 20px;
        color: #fff; } }
  .footer__main .footer__main__item a,
  .footer__main .footer__main__item li {
    list-style-type: none;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300; }
    @media (max-width: 450px) {
      .footer__main .footer__main__item a,
      .footer__main .footer__main__item li {
        font-size: 18px;
        line-height: 29px;
        color: #fff; } }
  .footer__main .footer__main__item ul li {
    margin-bottom: 8px; }
  .footer__social {
    grid-area: social;
    margin-top: -45px; }
    @media (max-width: 800px) {
      .footer__social {
        margin-top: 20px; } }
    @media (max-width: 450px) {
      .footer__social {
        margin-top: 0;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.15);
        padding: 0 16px 20px; } }
  .footer .download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 450px) {
      .footer .download {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .footer .download a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    max-width: 175px;
    height: 46px;
    border: 1px solid #ffffffb2;
    border-radius: 5px;
    -webkit-transition: .3s;
    transition: .3s; }
    .footer .download a:hover {
      background-color: white;
      border: 1px solid #2A66F9; }
      @media (max-width: 450px) {
        .footer .download a:hover {
          border: 1px solid #2B2F4A; } }
      .footer .download a:hover .footer__app-img path {
        fill: #2a66f9; }
        @media (max-width: 450px) {
          .footer .download a:hover .footer__app-img path {
            fill: #2B2F4A; } }
  .footer .download a:first-child {
    margin-right: 16px; }
  .footer .social {
    margin-top: 28px; }
  @media (max-width: 450px) {
    .footer .social__img path:last-of-type {
      fill: #2B2F4A; } }
  .footer .social__img:hover path:first-child {
    fill: white; }
  .footer .social__img:first-child {
    margin-right: 20px; }
    @media (max-width: 450px) {
      .footer .social__img:first-child {
        margin-right: 10px; } }
  .footer__spons {
    grid-area: spons;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 450px) {
      .footer__spons {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .footer__right {
    grid-area: contact-form; }
    @media (max-width: 450px) {
      .footer__right {
        max-width: 100%; } }
  .footer__right-title {
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 30px;
    color: #fff; }
  .footer .contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 450px) {
      .footer .contact-us {
        background: #22253D;
        margin-bottom: 30px; } }
    @media (max-width: 450px) {
      .footer .contact-us {
        padding: 18px 16px 28px; } }
  .footer .contact-us__input {
    border: none;
    background-color: #2a66f9;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    outline: none;
    padding: 12px 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    @media (max-width: 450px) {
      .footer .contact-us__input {
        font-size: 18px;
        background-color: #22253D; } }
    .footer .contact-us__input:hover {
      border-color: #fff; }
    .footer .contact-us__input::-webkit-input-placeholder {
      color: #c7d7ff;
      font-size: 15px;
      font-weight: 300;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .footer .contact-us__input::-moz-placeholder {
      color: #c7d7ff;
      font-size: 15px;
      font-weight: 300;
      -moz-transition: 0.3s;
      transition: 0.3s; }
    .footer .contact-us__input:-ms-input-placeholder {
      color: #c7d7ff;
      font-size: 15px;
      font-weight: 300;
      -ms-transition: 0.3s;
      transition: 0.3s; }
    .footer .contact-us__input::-ms-input-placeholder {
      color: #c7d7ff;
      font-size: 15px;
      font-weight: 300;
      -ms-transition: 0.3s;
      transition: 0.3s; }
    .footer .contact-us__input::placeholder {
      color: #c7d7ff;
      font-size: 15px;
      font-weight: 300;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      @media (max-width: 450px) {
        .footer .contact-us__input::-webkit-input-placeholder {
          font-size: 18px; }
        .footer .contact-us__input::-moz-placeholder {
          font-size: 18px; }
        .footer .contact-us__input:-ms-input-placeholder {
          font-size: 18px; }
        .footer .contact-us__input::-ms-input-placeholder {
          font-size: 18px; }
        .footer .contact-us__input::placeholder {
          font-size: 18px; } }
    .footer .contact-us__input:hover::-webkit-input-placeholder {
      opacity: 0.4; }
    .footer .contact-us__input:hover::-moz-placeholder {
      opacity: 0.4; }
    .footer .contact-us__input:hover:-ms-input-placeholder {
      opacity: 0.4; }
    .footer .contact-us__input:hover::-ms-input-placeholder {
      opacity: 0.4; }
    .footer .contact-us__input:hover::placeholder {
      opacity: 0.4; }
    .footer .contact-us__input:focus {
      border-color: #fff; }
  .footer .contact-us__submit {
    height: 45px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #2a66f9;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
    @media (max-width: 450px) {
      .footer .contact-us__submit {
        background-color: #fff;
        color: #2B2F4A;
        font-size: 17px;
        font-weight: bold; } }
    .footer .contact-us__submit:hover {
      background-color: #fff;
      color: #2a66f9; }
      @media (max-width: 450px) {
        .footer .contact-us__submit:hover {
          color: #2B2F4A;
          background-color: #c5c5c5; } }
  @media (max-width: 450px) {
    .footer .header__top {
      background-color: transparent;
      padding: 0 10px 16px; } }
  .footer .header__top__wrap {
    color: #fff;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 450px) {
      .footer .header__top__wrap {
        font-size: 18px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        text-align: center; } }
  .footer .header__top__wrap a {
    font-size: 12px;
    text-decoration: underline; }
    @media (max-width: 450px) {
      .footer .header__top__wrap a {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: normal;
        text-decoration: none; } }
  @media (max-width: 450px) {
    .footer__main, .footer__spons {
      padding: 0 16px; } }

/*# sourceMappingURL=footer.css.map */
