@import "../utils";

.footer {
  width: 100%;
  background: #2A66F9;

  @media (max-width: 450px) {
    & {
      background: #2B2F4A;
    }

    & .container {
      padding: 0;
    }
  }

  &__wrap {
    width: 100%;
    padding: 30px 0;
  }

  &__top {
    display: grid;
    grid-template-areas:
        "main contact-form"
        "social spons";
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    @media (max-width: 800px) {
      & {
        grid-template-columns: 1fr;
        grid-template-areas:
        "main"
        "contact-form"
        "social"
        "spons";
      }
    }
  }

  &__left {
    @include flex-column;
    margin-right: 40px;
  }

  &__left .logo {
    display: block;

    @media (max-width: 450px) {
      & {
        display: none;
      }
    }
  }

  &__left .logo img {
    max-width: 204px;
  }

  &__right, &__spons {
    max-width: 365px;
    width: 100%;
    justify-self: end;

    @media (max-width: 800px) {
      & {
        max-width: 100%;
        justify-self: start;
      }
    }
  }

  &__main {
    grid-area: main;
    @media (max-width: 450px) {
      & {
        flex-direction: column;
      }
    }
  }

  &__main .footer__main__items {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 20px 0 50px;
  }

  @media (max-width: 450px) {
    &__main .footer__main__items {
      flex-direction: column;
      padding: 0 0 30px;
    }
  }

  &__main .footer__main__item {
    margin-right: 26px;
    min-width: 170px;
  }

  &__main .footer__main__item:last-child {
    max-width: 149px;
    margin-right: 0;

    @media (max-width: 450px) {
      & {
        margin-top: 24px;
        max-width: 200px;
      }
    }
  }

  &__main .footer__main__item .title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #C7D7FF;
    display: block;
    margin-bottom: 19px;

    @media (max-width: 450px) {
      & {
        font-size: 20px;
        color: #fff;
      }
    }
  }

  &__main .footer__main__item a,
  &__main .footer__main__item li {
    list-style-type: none;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;

    @media (max-width: 450px) {
      & {
        font-size: 18px;
        line-height: 29px;
        color: #fff;
      }
    }
  }

  &__main .footer__main__item ul li {
    margin-bottom: 8px;
  }

  &__social {
    grid-area: social;
    margin-top: -45px;

    @media (max-width: 800px) {
      & {
        margin-top: 20px;
      }
    }

    @media (max-width: 450px) {
      & {
        margin-top: 0;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.15);
        padding: 0 16px 20px;
      }
    }
  }

  & .download {
    display: flex;

    @media (max-width: 450px) {
      & {
        justify-content: space-between;
      }
    }
  }

  & .download a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 175px;
    height: 46px;
    border: 1px solid #ffffffb2;
    border-radius: 5px;
    transition: .3s;

    &:hover {
      background-color: white;
      border: 1px solid #2A66F9;

      @media (max-width: 450px) {
        & {
          border: 1px solid #2B2F4A
        }
      }

      .footer__app-img path {
        fill: $bg-web;

        @media (max-width: 450px) {
          & {
            fill: #2B2F4A;
          }
        }
      }
    }
  }

  & .download a:first-child {
    margin-right: 16px;
  }

  & .social {
    margin-top: 28px;
  }

  @media (max-width: 450px) {
    & .social__img path:last-of-type {
      fill: #2B2F4A;
    }
  }

  & .social__img:hover path:first-child {
    fill: white;
  }

  & .social__img:first-child {
    margin-right: 20px;

    @media (max-width: 450px) {
      & {
        margin-right: 10px;
      }
    }
  }

  &__spons {
    grid-area: spons;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 450px) {
      & {
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }
  }

  &__right {
    grid-area: contact-form;

    @media (max-width: 450px) {
      & {
        max-width: 100%;
      }
    }
  }

  &__right-title {
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
  }

  & .contact-us {
    @include flex-column;

    @media (max-width: 450px) {
      & {
        background: #22253D;
        margin-bottom: 30px;
      }
    }

    @media (max-width: 450px) {
      & {
        padding: 18px 16px 28px;
      }
    }
  }

  & .contact-us__input {
    border: none;
    background-color: $bg-web;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    outline: none;
    padding: 12px 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 15px;
    transition: 0.3s;

    @media (max-width: 450px) {
      & {
        font-size: 18px;
        background-color: #22253D;
      }
    }

    &:hover {
      border-color: #fff;
    }

    &::placeholder {
      color: #c7d7ff;
      font-size: 15px;
      font-weight: 300;
      transition: 0.3s;

      @media (max-width: 450px) {
        & {
          font-size: 18px;
        }
      }
    }

    &:hover::placeholder {
      opacity: 0.4;
    }

    &:focus {
      border-color: #fff;
    }
  }

  & .contact-us__submit {
    height: 45px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: $bg-web;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;

    @media (max-width: 450px) {
      & {
        background-color: #fff;
        color: #2B2F4A;
        font-size: 17px;
        font-weight: bold;
      }
    }

    &:hover {
      background-color: #fff;
      color: $bg-web;

      @media (max-width: 450px) {
        & {
          color: #2B2F4A;
          background-color: #c5c5c5;
        }
      }
    }
  }

  & .header__top {
    @media (max-width: 450px) {
      & {
        background-color: transparent;
        padding: 0 10px 16px;
      }
    }
  }

  & .header__top__wrap {
    color: #fff;
    justify-content: space-between;

    @media (max-width: 450px) {
      & {
        font-size: 18px;
        flex-direction: column-reverse;
        text-align: center;
      }
    }
  }

  & .header__top__wrap a {
    font-size: 12px;
    text-decoration: underline;

    @media (max-width: 450px) {
      & {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: normal;
        text-decoration: none;
      }
    }
  }

  @media (max-width: 450px) {
    &__main, &__spons {
      padding: 0 16px;
    }
  }
}

